body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.ui-state-default .icon-new{
    background-image: url(../images/icons/agregarUsuario.png);
    width: 50%;
}

.ui-state-default .icon-edit{
    background-image: url(../images/icons/editarUsuario.png);
    width: 50%;
}

.ui-state-default .icon-delete{
    background-image: url(../images/icons/eliminarUsuario.png);
    width: 50%;
}

.ui-state-default .icon-new-foro{
    background-image: url(../images/icons/agregarForo.png);
    width: 50%;
}

.entrada-foro{
    background-image: url(../images/entradaForo.jpg);
}

.ui-state-default .icon-ver-mas{
    background-image: url(../images/verMas.jpg);
    width: 50%;
}

.buttons span{
    padding: 4px 4px 4px 4px !important;
}
.buttons button{
    margin-left: 3px !important;
    margin-right: 3px !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
   background: #848484;
}

.ui-chkbox .ui-chkbox-box{
    background: #F2F2F2;
}
.ui-dialog-ejecutar {
   width:80% !important;
   height: 95% !important;
}

.ui-state-default .icon-exportPDF{
    background-image: url(../images/icons/exportPDF.png);
    width: 75% !important;
    height: 75% !important;  
}

.ui-state-default .icon-exportExcel{
    background-image: url(../images/icons/exportExcel.png);
    width: 75% !important;
    height: 75% !important;
}

.botonExport .ui-button-icon-only .ui-icon{
      left: 30% !important;
  margin-left: -6px !important;
}

.botonExport .ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon{
    position: absolute !important;
  top: 43% !important;
  margin-top: -8px !important;
}

div.ui-progressbar-value.ui-widget-header.ui-corner-all{
    background: #459e00;
}

div.et-box.et-info{
  color: #030303;
  background: #e6e6e6;
  border: 1px solid #fbfbef;
  moz-box-shadow: none;
  webkit-box-shadow: none;
  box-shadow: none;
}

#navegador ul{
   list-style-type: none;
   text-align: center;
}

#navegador li{
   display: inline;
   text-align: center;
   margin: 0 6px 0 0;
}

#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}

#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}

.border2 {
    margin: 2em 0;
    height: 17px;
    text-align: center;
    padding: 10px;
    width: 65%;
    border:  #036374  solid 2px;
    background: #71FF00;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}